In [ ]:
class Car():
 #A simple attempt to model a car.
 def __init__(self, make, model, year):
    #Initialize car attributes.
   self.make = make
   self.model = model
   self.year = year
# Fuel capacity and level in gallons.
   self.fuel_capacity = 15
   self.fuel_level = 0
 def fill_tank(self):
   #Fill gas tank to capacity.
   self.fuel_level = self.fuel_capacity
   print("Fuel tank is full.")
 def drive(self):
   #Simulate driving.
   print("The car is moving.")

if else and while loops

In [ ]:
car = 'bmw'
car == 'bmw'

True

In [ ]:
car = 'audi'
car == 'bmw'

False

In [ ]:
#Ignoring case when making a comparison
car = 'Audi'
car.lower() == 'audi'

True

In [ ]:
topping = 'mushrooms'
topping != 'anchovies'

True

In [ ]:
age =18
age == 18

True

In [ ]:
age != 18

False

In [ ]:
age = 19
age < 21

True

In [ ]:
age <= 21

True

In [ ]:
age_0 = 22
age_1 = 18
age_0 >= 21 and age_1 >= 21

False

In [ ]:
age_1 = 23
>>> age_0 >= 21 and age_1 >= 23

True

In [ ]:
age_0 = 22
age_1 = 18
age_0 >= 21 or age_1 >= 21

True

In [ ]:
age_0 = 18
age_0 >= 21 or age_1 >= 21

False

In [ ]:
age=18
if age >= 18:
 print("You're old enough to vote!")
else:
 print("you are not eligibile")

You're old enough to vote!

In [ ]:
age=13
if age >= 18:
 print("You're old enough to vote!")
else:
 print("you are not eligibile")

you are not eligibile

In [ ]:
age = 12
if age < 4:
 price = 0
elif age < 18:
 price = 5
else:
 price = 10
print("Your cost is $" + str(price) + ".")

Your cost is $5.

In [ ]:
players = ['al', 'bea', 'cyn', 'dale']
'al' in players

True

In [ ]:
'eric' in players

False

In [ ]:
banned_users = ['ann', 'chad', 'dee']
user = 'ann'
if user not in banned_users:
  print("You can play!")
else:
  print("you can't play")

you can't play

In [ ]:
banned_users = ['ann', 'chad', 'dee']
user = 'erin'
if user not in banned_users:
 print("You can play!")

You can play!

In [ ]:
x=0
while x<5 :
  print("my value of  is " + str(x))
  x=x+1

my value of  is 0
my value of  is 1
my value of  is 2
my value of  is 3
my value of  is 4

In [ ]:
for i in range(1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [ ]:
if True:
  pass
  print('Hello')
  a = 5

Hello

In [ ]:
def double(num):
    """Function to double the value"""
    return 2*num

In [ ]:
def double(num):
    """Function to double the value"""
    return 2*num
print(double.__doc__)

Function to double the value

In [ ]:
def square(n):
    '''Takes in a number n, returns the square of n'''
    return n**2

In [ ]:
# Program to print "Hello World"
print("Hello World")

Hello World

In [ ]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True

In [ ]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1
print(a, "is integer number?", isinstance(1,int))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
1 is integer number? True

In [ ]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1.9
print(a, "is floating point number?", isinstance(1.9,int))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
1.9 is floating point number? False

In [ ]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [ ]:
tuple(range(0,11,2))

(0, 2, 4, 6, 8, 10)

In [ ]:
index=0
word='abcdef'
for letter in word:
  print(word[index])
  index+=1

TypeError: ignored

In [ ]:
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\u00dcnic\u00f6de"
raw_str = r"raw \n string"

print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
C
This is a multiline string with more than one line code.
Ünicöde
raw \n string

In [ ]:
x = (1 == True)  
y = (1 == False)
a = True + 4
b = False + 10

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

x is True
y is False
a: 5
b: 10

In [ ]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [ ]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: ignored